.section-contact{
    position: relative;
    top: 110px;
    margin-left: 0px;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex;
    max-width: 600px;
    padding: 30px;
    margin: auto;
}

input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px solid rgb(138, 108, 18) ;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent ;
    border-right: 1px solid transparent ;
    outline: 1px solid transparent;
    height: 30px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    transition: 1s;
}
input[value="Submit"]{
    border: 1px solid transparent;
    background-color: rgb(138, 108, 18);
    color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    outline: 1px solid transparent;
    height: 30px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    transition: 1s;
}

textarea{
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0.5px solid rgb(138, 108, 18) ;
    outline: 1px solid transparent;
    height: 100px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 200;
    margin-top: 10px;
    word-wrap: break-word;
    resize: none;
    padding: 10px;
    border-radius: 10px;
}

input:active{
    width: 50%;
    transition: 0.1s;
}

input:visited{
    width: 100%;
    transition: 1s;
}

input:link{
    width: 100%;
}

input[value="Submit"]:hover{
    background-color: rgb(138, 108, 18, 0.7);
    border: 1px solid rgb(138, 108, 18) ; 
}

label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
}

